

.about {
    margin-top: 100px;
    align-items: left;
    
}

.contact {
    margin-top: 70px;
    align-items: left;
    line-height: 30px;
}

.contact span{
    margin-top: 200px;
}

.navbar-font{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #ffffff;
}

.hi-there{

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    /* identical to box height */

    letter-spacing: 0.03em;

    /* Xyluz Blue */

    color: #2351DC;
}

.name-heading{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height */

    letter-spacing: 0.03em;

    /* Xyluz Blue */

    color: #2351DC;
}

.about-description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    /* or 150% */


    color: #000000;
}